<% include ../partials/header.ejs %>
  <!--div.container.>div.row>div.col-md-offset-3.col-md-6 (then press 'Tab' at the end of the line-->
  <div class="container ">
    <div class="row">
      <div class="col-md-offset-0 col-md-14">
            <center>      
        <h1><%= title %></h1>
        <p>Welcome to My Portfolio</p>
              <center>   

        <hr>
        <span class="gallery">
  <a target="Unity" href="https://github.com/Pudding4ever?tab=repositories">
    <img src="http://www.aha.io/assets/github.7433692cabbfa132f34adb034e7909fa.png" alt="Fjords" width="500" height="200">
  </a>
  <div class="desc">Here is a link to my Git Repositories</div>
</span>
<hr>
<span class="gallery">
  <a target="Unity" href="https://www.youtube.com/watch?v=bRe3xl7oGCI&list=PL5svY1bZDBZr0mzfldKz2ERqPDY9pqAH_&index=37">
    <img src="https://developers.google.com/youtube/images/YouTube-icon-full_color.png" alt="Fjords" width="500" height="300">
  </a>
  <div class="desc">Here are tutorials for the course that taught me how to make my website</div>
</span>
        <hr>
      </div>
    </div>
  </div>
<% include ../partials/footer.ejs %>